*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-image {
  height: 70vh;
  width: 100%;
  background: url("start-bg.jpg") no-repeat center;
  background-size: cover;
  position: absolute;
}

input[type="radio"] {
  cursor: pointer;
  padding: 1rem;
}

label {
  cursor: pointer;
}

.btn-group {
  width: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
